html {
  box-sizing: border-box;
  font-size: 14px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: white;
  color: #3c3c3c;
  height: auto;
  font-family: 'Proxima Nova Soft', Helvetica, sans;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

a {
  text-decoration: none;
}

.noscript {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75em 0em;
  height: 6em;
  background: #c81f1f;
  color: white;
}

.noscript .wrapper,
.noscript .wrapper h2,
.noscript .wrapper p {
  background: #c81f1f;
  background-color: red;
  color: white;
}
